{% extends "base.html" %}
{% block content %}
<div class="div">
    <h2>New Category</h2>
    <form method="post">
        <table>
            <tr>
                <td class="label">
                    Likn
                </td>
                <td>
                    <input type="text" name="name" value="{{name}}">
                </td>
            </tr>

            <tr>
                <td class="label">
                    Description
                </td>
                <td>
                    <textarea name="description">{{description}}</textarea>
                </td>
            </tr>
        </table>
        <div class="error">{{error}}</div>
        <input type="submit" value="Submit">
    </form>
    <a href="{{ url_for('show_categories') }}">Cancel</a>
</div>

{% endblock %}