{% extends "base.html" %}
{% block content %}

<div class="row">
    <div class="col-md-12">
        <h2>Categories</h2>
    </div>
</div>

{% if user_id %}
<div class="row">
    <div class="col-md-12">
        <a href="{{url_for('new_category')}}">
            New Category
        </a>
    </div>
</div>
{% endif %}


<div class="row">
    {% for category in categories %}
    <div class="col-md-12">
        <a href="{{url_for('show_items', category_id = category.id)}}">
            {{category.name}}
        </a>
    </div>
    {% endfor %}
</div>


{% endblock %}